<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creating a server with Node.js</title>
  <style>
    body {
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f4f4f4;
    }

    .container {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 30px;
      width: 400px;
    }

    .title {
      text-align: center;
      margin-bottom: 20px;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .dropdown-select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
    }

    .dropdown-input:focus {
      outline: none; /* Xóa viền focus */
    }
    .dropdown-input {
      width: 100%;
      padding: 10px;
      border: none; /* Loại bỏ viền của input */
      background: transparent; /* Loại bỏ màu nền của input */
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      width: 100%;
      z-index: 1;
      bottom: 100%;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .show {
      display: block;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="title">Creating a server with Node.js</h1>
  <p>Hello, I'm a Node.js server for searching vehicle palte number!</p>
  <div class="dropdown">
    <div class="dropdown-select">
      <input type="text" placeholder="Chọn Thành Phố" class="dropdown-input">
    </div>
    <div class="dropdown-content" >
      <% vehiclePlates.forEach(function(plate) { %>
        <a href="#" value="<%= plate.city %>" onclick="updatePlate(this.value)">
          <b><%= plate.city %></b>
        </a>
      <% }); %>
    </div>
    <div class="result">
      <p id="vehiclePlate"><b>Biển số xe:</b></p>
    </div>
  </div>

  <script>
    const dropdown = document.querySelector(".dropdown");
    const dropdownSelect = document.querySelector(".dropdown-select");
    const dropdownInput = document.querySelector(".dropdown-input");
    const dropdownContent = document.querySelector(".dropdown-content");
    function updatePlate(city) {
      const vehiclePlateElement = document.getElementById('vehiclePlate');
      const plate = vehiclePlatesData.find(plate => plate.city === city);

      if (plate) {
        vehiclePlateElement.textContent = `Biển số xe: ${plate.plate_no}`;
      } else {
        vehiclePlateElement.textContent = 'Biển số xe: ';
      }
      dropdownInput.value = city; // Cập nhật thanh tìm kiếm

    }

    function updateInput(city) {
      dropdownInput.value = city;
    }

    dropdownSelect.addEventListener("click", () => {
      dropdownContent.classList.toggle("show");
    });

    // Ẩn dropdown khi click vào ngoài dropdown
    window.addEventListener("click", (event) => {
      if (!event.target.closest(".dropdown")) {
        dropdownContent.classList.remove("show");
      }
    });

    // Xử lý khi người dùng click vào option
    dropdownContent.addEventListener('click', (event) => {
      if (event.target.tagName === 'A') {
        const city = event.target.getAttribute('value');
        updatePlate(city);
        dropdownContent.classList.remove('show');  // Ẩn dropdown
      }
    });

    // Xử lý khi người dùng nhập vào input
    dropdownInput.addEventListener('input', (event) => {
      const inputValue = event.target.value.toLowerCase();

      // Lọc các option trong dropdown-content dựa trên giá trị nhập vào
      const options = dropdownContent.querySelectorAll('a');
      options.forEach(option => {
        const optionText = option.textContent.toLowerCase();
        if (optionText.includes(inputValue)) {
          option.style.display = 'block';
        } else {
          option.style.display = 'none';
        }
      });
    });
  </script>
</div>
</body>
</html>